/* Body */
body{
  background-image: url('../images/bright-squares.png')
}

/* Header */
header, footer {
  text-align: center;
  background-color: #3b5998;
  font-size: 36px;
  color: ghostwhite;
  padding: 15px;
}

header {
  font-family: 'Marcellus SC', serif;
}



